
/* Add your own custom styles here */

#TabsToolbar {
    margin-top: -52px !important;
    margin-left: 380px !important;
    margin-bottom: 0px !important;
  }


/* Hide the back button */
#back-button {
    display: none !important;
  }

  /* Hide the forward button */
  #forward-button {
    display: none !important;
  }

  /* Hide the reload button */
  #reload-button {
    display: none !important;
  }

  /* Hide the home button */
  #home-button {
    display: none !important;
  }

  /* Hide the downloads button */
  #downloads-button {
    display: none !important;
  }
